.products {
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 45px;
    width: 100%;
    max-width: 1200px;
    margin: $spacing-large auto;
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 25px 20px;
    background-color: $color-white;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
  }
  &__item-name {
    margin-bottom: auto;
    font-weight: bold;
  }
  &__item-img {
    width: 100%;
    height: 270px;
    object-fit: contain;
    margin-top: $spacing-medium;
  }
  &__item-price {
    color: $color-unaccent;
    margin-top: $spacing-medium;
  }
  &__item-btn {
    padding: $spacing-small $spacing-medium;
    margin-top: $spacing-medium;
    border: 1px solid $color-unaccent;
    border-radius: $border-radius;
    cursor: pointer;
    outline: none;
    background: none;
    font-family: inherit;
    font-size: inherit;
  }
  &__item-btn--active {
    border: 1px solid transparent;
    background-image: $linear-gradient;
  }
}

.bi-tag-fill {
  color: $color-red;
}