@import 'vars';
@import 'reset';
@import 'libs';
@import 'global';

/* Components */
@import '../components/Header/Header';
@import '../components/Products/Products';
@import '../components/Shopping/Shopping';
@import '../components/Spinner/Spinner';
@import '../components/Error/Error';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1.7;
  background-color: $color-light;
}
