@import 'vars';
@import 'reset';
@import 'libs';
@import 'global';

/* Components */
@import '../components/Header/Header';
@import '../components/Products/Products';
@import '../components/Shopping/Shopping';
@import '../components/Spinner/Spinner';
@import '../components/Error/Error';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1.7;
  background-color: $color-light;
}

.logo {
  display: flex;
  &__img {
    margin-top: 3px;
    width: 40px;
    height: 40px;
  }
  &__title {
    margin-top: 10px;
    margin-left: 5px;
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-weight: 700;
    font-size: 22px;
  }
}
