.error {
  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }
  &__img {
    width: 200px;
    height: 140px;
  }
  &__message {
    padding: 20px 40px;
    min-width: 400px;
    text-align: center;
    background-color: $color-error-light;
    box-shadow: $box-shadow;
    color: $color-white;
    border-left: 7px solid $color-error-dark;
  }
}